<template name="UsersDetail">
  {{#contentFor 'breadcrumbs'}}
    <li class="active">{{profile.name}}</li>
  {{/contentFor}}

  <div class="todos-panel">
    <h3>{{profile.name}}'s todos</h3>
      <ul class="todos-list">
        {{#each todos}}
          <li class="todo-item {{isDoneClass}}">
            <div class="subject">
              {{#linkTo route='todos.detail'}}
                {{subject}}
              {{/linkTo}}
            </div>
          </li>
        {{else}}
          <li class="todo-item empty">No todos yet!</li>
        {{/each}}
      </ul>
  </div>
</template>
